.container {
  text-align: center;
  margin-top: 50px;
}

.login-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 18px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.logout-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 18px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  /* cursor: pointer;
  transition: 0.3s; */
}

.logout-btn:hover {
  background-color: #d73833;
  transform: scale(1.05);
}
